/* GERAL */
body, html {
    font-family: 'Nunito', sans-serif;
}

span {
    font-family: 'Oleo Script', cursive;
    color: var(--light);
}


/* HEADER */
#header {
    width: 100%;
    background: var(--primary);
    transition: background ease-out 0.4s;
}

#header.active {
    position: fixed;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2s);
    z-index: 9999;
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--light);
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
    border-bottom: solid 4px var(--light);
    color: var(--light);
}


/* BANNER */
#banner {
    width: 100%; float: left; text-align: center; padding: 3% 4%; background: url(../assets/camera.jpg) no-repeat fixed;
}

#banner .title h2 {
    font-size: 2.5em; color: var(--light); font-weight: 700; margin-top: 100px; margin-bottom: 50px;
}

#banner .title h3 {
    font-size: 1.5em; color: var(--light); margin-bottom: 80px;
}

#banner .title button {
    margin-bottom: 50px;
    color: var(--primary);
}

#banner .title button a {
    color: var(--light);
    text-decoration: none;
}

/* SOBRE */

#sobre {
    width: 100%; float: left; text-align: center; padding: 3% 4%; background: var(--primary); color: var(--light);
}

#sobre h2 {
    font-size: 2.5em; font-weight: 700; margin-bottom: 50px;
}

#sobre p {
    font-size: 1.5em; margin-bottom: 80px;
}

#sobre .button {
    margin-bottom: 50px;
    color: var(--light);
}

#sobre .button a {
    color: var(--primary);
}

/* SERVIÇOS */
#servicos {
    width: 100%; float: left; text-align: center; padding: 3% 4%; background: var(--light);
}

#servicos img {
    width: 100px; height: 100px; 
}

#servicos h2 {
    font-size: 2.5em; font-weight: 700; margin-bottom: 50px; 
}

#servicos .card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#servicos .card { 
    border-color: transparent;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    background: var(--light);
}


/* FOTOS */
#fotos {
    width: 100%; float: left; text-align: center; padding: 3% 4%; background: var(--primary); color: var(--light);
}

#fotos .row img {
    border-radius: 5px;
    transition: all ease-out 0.2s;
}

#fotos .row img:hover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4s);
}

/* CONTATO */
#contato {
    width: 100%; float: left; text-align: center; padding: 3% 4%; background: var(--light);
}

/* FOOTER */
#footer {
    width: 100%; float: left; text-align: center; background: var(--primary); color: var(--light);
}