/* GERAL */
body, html {
    font-family: 'Nunito', sans-serif;
}

span {
    font-family: 'Oleo Script', cursive;
    color: #f2f2f2;
}


/* HEADER */
#header {
    width: 100%;
    background: var(--primary);
    transition: background ease-out 0.2s;
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
    color: #f2f2f2;
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
    border-bottom: solid 4px #f2f2f2;
    color: #f2f2f2;
}


/* BANNER */
#banner {
    width: 100%; float: left; text-align: center; padding: 3% 4%; background: url(../assets/camera.jpg) no-repeat fixed;
}

#banner .title h2 {
    font-size: 2.5em; color: #f2f2f2; font-weight: 700; margin-top: 100px; margin-bottom: 50px;
}

#banner .title h3 {
    font-size: 1.5em; color: #f2f2f2; margin-bottom: 80px;
}

#banner .title button {
    margin-bottom: 50px;
}


/* SOBRE */

#sobre {
    width: 100%; float: left; text-align: center; padding: 3% 4%; background: var(--primary); color: #f2f2f2;
}

#sobre h2 {
    font-size: 2.5em; font-weight: 700; margin-bottom: 50px;
}

#sobre p {
    font-size: 1.5em; margin-bottom: 80px;
}

#sobre button {
    margin-bottom: 50px;
}


/* SERVIÇOS */
#servicos {
    width: 100%; float: left; text-align: center; padding: 3% 4%;
}

#servicos img {
    width: 100px; height: 100px;
}

#servicos h2 {
    font-size: 2.5em; font-weight: 700; margin-bottom: 50px;
}

#servicos .card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#servicos .card { 
    border-color: transparent;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}
